.navbar{
    height: 65px;
    border-radius: 5px;
    /* position: fixed; */
    
    
} 
#bg-dark{
    background-color: #130780!important;
   
}
.container{
    margin-top: 2rem;
    height: 20rem;
    
   
    
}
.img img{
    width: 20%;
    border-radius: 100%;
    margin-left:29%;
}
.img1 img{
    width: 15%;
    border-radius: 200%;
    margin-left:56%;
    margin-top:-9rem
}
.contact{
    margin-top: 5rem;
    margin-left: 1rem;
    width: 90%;
    height:40rem;
}
.jumbo{
    margin-top: 2rem;
    margin-left: -5rem;
    width: 80rem;
    height: 30rem;
   text-align: center;
}